.body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.horizontal-flexbox{
    display: flex;
    flex-direction: row;
}

.vertical-flexbox{
    display: flex;
    flex-direction: column;
}

.all98{
    width: 98%;
    height: 98%;
}

.borders{
    border: 1px solid black;
}